/* ================================== */
/*      BUTTONS CLEANNIG MEMORY       */
/* ================================== */

.sidebar__btn {
    position: relative;
    min-width: 190px;
    height: 36px;
    margin-right: 2px;
    background-color: $olive;
    border: none;
    border-radius: 5px;
    color: $white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.sidebar__btn:first-child {
    margin-bottom: 5px;
}

.material-icons--delete, .material-icons--refresh {
    position: absolute;
    top: 6px;
    left: 2px;
    font-size: 26px;
}

/* ================================== */
/*       BUTTONS FORMATING TEXT       */
/* ================================== */

.editor {
    &__btn {
    position: relative;
    min-width: 40px;
    border: solid 1px $olive;
    border-radius: 5px;
    background: none;
    color: $olive;
    font-size: 30px;
    text-align: center;
    margin: 0 2px;
    cursor: pointer;

        &--bold {
            font-weight: 700;
        }

        &--underline {
            text-decoration: underline;
        }

        &--italic {
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
        }   
    }

    &__btn:last-child {
        margin: 0 0 0 2px;
    }

    &__tools-buttons {
        display: flex;
        align-items: flex-start;
    }

    &__select {
    width: 60px;
    margin-right: 10px;
    border: none;
    background: none;
    color: $olive;
    font-size: 30px;
    cursor: pointer;
    }
}

.material-icons--size-up, .material-icons--size-down {
    position: absolute;
    top: 4px;
    right: 0;
    font-size: 14px;
    color: $white;
}

/* ========================================= */
/*  BUTTONS SAVING, LOADING, DELETING DATA   */
/* ========================================= */

.editor__btn--load, .editor__btn--save, .editor__btn--delete {
    position: relative;
    width: 110px;
    height: 36px;
    background-color: $olive;
    border: none;
    border-radius: 5px;
    color: $white;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.material-icons--load, .material-icons--save, .material-icons--delete {
    position: absolute;
    top: 6px;
    left: 4px;
    font-size: 24px;
}