/* ================================== */
/*          THEMES SWITCHERS          */
/* ================================== */

.sidebar {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 442px;
    &__theme-switchers {
        display: flex;
        flex-direction: column;
        font-weight: 300;
    }

    &__label {
        cursor: pointer;
        padding-right: 5px;
        position: relative;
        display: block;
        font-size: 14px;
        padding: 10px 0;

        &--blue {
            padding-top: 0;
        }
    }

    &__input[type="radio"] {
        position: absolute; 
        visibility: hidden !important;
    }

/* --------- MAIN SWITCHER --------- */

    &__input[type="radio"] + &__label {
        &::before,
        &::after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -12px;
        box-sizing: border-box;
        }

        &::before {
        width: 48px;
        height: 24px;
        right: 30px;
        background: $light-grey;
        border-radius: 15px;
        }

        &::after {
        width: 18px;
        height: 18px;
        margin-top: -9px;
        right: 57px;
        background: $light-grey;
        border-radius: 50%;
        transition: all 200ms ease-out;
        }

        &--olive::before {
            background: $olive;
        }

        &--blue::before {
            background: $blue;
        }

        &--yellow::before {
            background: $yellow;
        }
    }

 /* --------- OLIVE SWITCHER --------- */   

    &__input--olive-js[type="radio"]:checked + &__label--olive-js {
        &::after {
        right: 33px;
        background: $grey;
        }
    }

/* --------- BLUE SWITCHER ---------- */   

    &__input--blue-js[type="radio"]:checked + &__label--blue-js {
        &::after {
        right: 33px;
        background: $grey;
        }
    }

/* --------- YELLOW SWITCHER --------- */   

    &__input--yellow-js[type="radio"]:checked + &__label--yellow-js {
        &::after {
        right: 33px;
        background: $grey;
        }
    }
}
