/* ================================== */
/*             VARIABLES              */
/* ================================== */

/* ------------- COLORS ------------- */

$blue: #2D9CDB;
$dark-grey: #292A36;
$grey: #545567;
$medium-grey: #A1A4B1;
$light-grey: #E6E7EB;
$olive: #7BAE53;
$red: #ce1d43;
$white: #ffffff;
$yellow: #F2C94C;

