/* ================================== */
/*         MAIN GRID SETTINGS         */
/* ================================== */

// .wrapper {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-template-rows: [header-start] 143px [header-end content-start] auto [content-end footer-start] 45px [footer-end];
//     grid-template-areas:
//             "header header header header"
//             "content content content sidebar"
//             "footer footer footer footer";
// }

/* ----------- DESKTOP LARGE---------- */
@include device(big-desktop){
    .wrapper {
    display: grid;
    grid-template-columns: 1fr 865px 256px 1fr;
    grid-template-rows: [header-start] 145px [header-end content-start] auto [content-end footer-start] 45px [footer-end];
    grid-template-areas:
            "header header header header"
            "... content sidebar ..."
            "footer footer footer footer";
    }
}

// @include device(desktop){
//     .wrapper {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     grid-template-rows: [header-start] 143px [header-end content-start] auto [content-end footer-start] 45px [footer-end];
//     grid-template-areas:
//             "header header header header"
//             "content content content sidebar"
//             "footer footer footer footer";
//     }
// }