/* ================================== */
/*             MAIN SIDEBAR           */
/* ================================== */

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 442px;
}